{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Glopess</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link href="{% static 'glopss_app/default.css' %}" rel="stylesheet" type="text/css" media="all" />
<!--<link href="fonts.css" rel="stylesheet" type="text/css" media="all" />-->
<!--[if IE 6]>
<link href="default_ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->

<!--load masonry.js -->

<!-- initialize-->
<!--
<div id="header-wrapper">
        <div id="header" class="container">
                <div id="logo">
                        <h1><a href="#" class="icon icon-group"><span>Glopss</span></a></h1>
                </div>
		
                <div id="menu">
                        <ul>
                                <li class="current_page_item"><a href="#" accesskey="1" title="">Homepage</a></li>
                                <li><a href="#" accesskey="2" title="">Portfolio</a></li>
                                <li><a href="#" accesskey="3" title="">About Us</a></li>
                                <li><a href="#" accesskey="4" title="">Careers</a></li>
                                <li><a href="#" accesskey="5" title="">Contact Us</a></li>
                        </ul>
                </div>
		
        </div>
</div>
-->
  <script src="{% static 'glopss_app/js/modernizr-2.5.3.min.js' %}"></script>

</head>



<body>


		<div id="search_form">

                <div id="logo">
                        <h1><a href="#" class="icon icon-group"><span>Glopss</span></a></h1>
			<h2>Search anyone across the Globe.</h2>
                </div>
		<div id="formfill">
			<table border="0" cellpadding="5px">
			<form name="input" action="/" method="get">
				<tr>
					<td>Name/Email:</td>
					<td> <input type="text" name="Name" value=""><br></td>
				
					<td>Location:</td>
					<td><input type="text" name="Location" value=""></td>
				
					<td>
						<input type="submit" value="Submit">
					</td>
				</tr>
			</form>
			</table>
		</div>
	
		</div>


<div id="content" class="container clearfix">

{% for i in results %}

		
				<div class="item">
        			 <a class="photo_hover3" href={{i.url}}><img src={{i.image}} alt="picture1"/></a>
        			 <p>{{i.title}}</p>
       			</div>
{% endfor %}
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-1.7.1.min.js"><\/script>')</script>

<script src="{% static 'glopss_app/js/jquery.masonry.min.js' %}"></script>
<script src="{% static 'glopss_app/js/script.js' %}"></script>

</body>
</html>




