{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Glopess</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link href="{% static 'glopss_app/styles.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'glopss_app/fonts.css' %}" rel="stylesheet" type="text/css" media="all" />


<div id="header-wrapper2">
        <div id="header" class="container">
                <div id="logo">
                        <h1><a href="#" class="icon icon-group"><span>Glopess</span></a></h1>
                </div>
                <div id="menu">
                        <ul>
                                <li class="current_page_item"><a href="#" accesskey="1" title="">Homepage</a></li>
                                <li><a href="#" accesskey="2" title="">Portfolio</a></li>
                                <li><a href="#" accesskey="3" title="">About Us</a></li>
                                <li><a href="#" accesskey="4" title="">Careers</a></li>
                                <li><a href="#" accesskey="5" title="">Contact Us</a></li>
                        </ul>
                </div>
        </div>
</div>




<body>

	<center><h1>People Finder</h1>
<div id="inputform">
<table border="0" cellpadding="10">
<form name="input" action="/">
 {% csrf_token %}
<tr>
  <td>Name:</td>
  <td> <input type="text" name="Name" value=""><br></td>
</tr>
<tr>
  <td>Location:</td>
  <td><input type="text" name="Location" value=""></td>
</tr>
<tr>
  <td>Email:</td>
  <td><input type="text" name="Email" value=""></td>
</tr>
<tr>
	<td>
	<input type="submit" value="Submit">
	</td>
</tr>
</table>
</form> 		
</div>

<div class="holder_content">



<table border="0" cellpadding="10">

{% for j in results %}
		<tr>
{% for i in j %}
			<td>
				<section class="group1">
<!--			         <h3>About us</h3> 
       				 <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec molestie. Sed aliquam sem ut arcu. Phasellus sollicitudin.
         Vestibulum condimentum  facilisis nulla. In hac habitasse platea dictumst. Nulla nonummy.</p>-->
        			 <a class="photo_hover3" href="{{i.url}}"><img src="{{i.image}}" alt="picture1"/></a>
        			 <p>{{i.title}}</p>
       				</section>


			</td>
{% endfor %}
	</tr>
{% endfor %}
		<!--
						<td>
				<section class="group1">
        			 <a class="photo_hover3" href="#"><img src="images/pic02.jpg" alt="picture1"/></a>
        			 <p>Name</p>
        			 <p>Detail(inst/city)</p>
       				 <a href="#"><span class="button">View Profile</span></a>
       				</section>


			</td>
			<td>
				<section class="group1">
        			 <a class="photo_hover3" href="#"><img src="images/pic02.jpg" alt="picture1"/></a>
        			 <p>Name</p>
        			 <p>Detail(inst/city)</p>
       				 <a href="#"><span class="button">View Profile</span></a>
       				</section>


			</td>
			<td>
				<section class="group1">
        			 <a class="photo_hover3" href="#"><img src="images/pic02.jpg" alt="picture1"/></a>
        			 <p>Name</p>
        			 <p>Detail(inst/city)</p>
       				 <a href="#"><span class="button">View Profile</span></a>
       				</section>


			</td>

		  -->

	
	</table>

        </div>



</body>
</html>

